# Test results (generated)
tests/test_results.json

# Miscellaneous
*.class
*.log
*.pyc
__pycache__/
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins-dependencies
/build/
/ios/Flutter/App.framework
/ios/Flutter/engine.xcconfig
/ios/Flutter/pod_runner.xcconfig
/ios/Flutter/Generated.xcconfig

# Android
/android/key.properties
/android/*.keystore
*.jks
*.b64
keystore_b64.txt
/android/gradlew
/android/gradle.bat
/android/local.properties
/android/.gradle/
/android/app/src/main/assets/flutter_assets/
/android/app/build/
/android/app/intermediates/
/android/app/outputs/

# iOS
/ios/Pods/
/ios/.symlinks/
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/Runner/Pods-Runner-frameworks.sh
/ios/Runner/Runner.app
/ios/Runner/Runner.ipa
/ios/Runner/Runner.xcarchive
/ios/Runner/Runner-Bridging-Header.h
/ios/Flutter/app.flx
/ios/Flutter/snapshot.d
/ios/Flutter/vm_snapshot_data
/ios/Flutter/vm_snapshot_instr

# macOS
/macos/Flutter/ephemeral
/macos/Flutter/app.flx
/macos/Flutter/snapshot.d
/macos/Flutter/vm_snapshot_data
/macos/Flutter/vm_snapshot_instr
/macos/Pods/
/macos/.symlinks/

# Linux
/linux/flutter/ephemeral
/linux/flutter/app.flx
/linux/flutter/snapshot.d
/linux/flutter/vm_snapshot_data
/linux/flutter/vm_snapshot_instr

# Windows
/windows/flutter/ephemeral
/windows/flutter/app.flx
/windows/flutter/snapshot.d
/windows/flutter/vm_snapshot_data
/windows/flutter/vm_snapshot_instr
node_modules/
